@import "../shared.module.scss";

.container {
  max-width: 800px; // To avoid upscaling gif
  width: 100%;
  margin: 0 auto;
}

.supplement {
  margin-top: 48px;
}

.supplementImage {
  max-width: 200px;
}

.supplementLink {
  display: inline-block;

  &:hover {
    opacity: 90%;
  }
}
