@import "../../styles/tokens.module.scss";
@import "../../styles/utils.module.scss";

.container {
  &:hover {
    .label {
      /* For highlight effect */
      background-position: -99% 0;
    }
  }

  &:focus-visible {
    outline: none;

    .label {
      @include focus-style;

      /* For highlight effect */
      background-position: -99% 0;
    }
  }
}

.img {
  border-radius: 8px;
}

.labelContainer {
  width: 200px;
  margin-top: 8px;
}

.label {
  font-size: 18px;
  letter-spacing: 0.8px;
  font-weight: normal;
  color: $content-primary;

  /* For highlight effect */
  display: inline;
  background: linear-gradient(to right, #0000 50%, $background-accent-overlay 50%);
  background-size: 202%;
  background-position: 0 0;
  transition: background-position 0.5s ease-in-out;

  @media (prefers-color-scheme: dark) {
    color: $content-primary-dark-theme;
  }
}
