@import "../../styles/tokens.module.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.imageContainer {
  display: none;

  @media (min-width: $breakpoint-large) {
    display: block;
  }
}

.jumpTo {
  color: $content-primary;
  background-color: $background-accent-light;
  padding: 0 4px;

  &:hover {
    text-decoration: underline;
  }

  @media (prefers-color-scheme: dark) {
    color: $content-primary-dark-theme;
    background-color: $background-accent-light-dark-theme;
  }
}
