@import "./tokens.module.scss";
@import "./utils.module.scss";

@font-face {
  font-family: "Crimson";
  src: url(/fonts/CrimsonText-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;

  &:focus-visible {
    border: none;
    outline: dashed 1px #0008;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Crimson", serif;
  background-color: $background-primary;

  @media (prefers-color-scheme: dark) {
    background-color: $background-primary-dark-theme;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

body {
  @include scrollbar-style($background-accent-overlay);

  @media (prefers-color-scheme: dark) {
    @include scrollbar-style($background-accent-overlay-dark-theme);
  }
}

button {
  background: none;
  border: 0;
  padding: 0;

  &:hover {
    cursor: pointer;
  }
}

p,
h5 {
  -webkit-font-smoothing: antialiased;
}
