/* Color */

$background-accent-dark: #23538a;
$background-accent-dark-dark-theme: #112338;

$background-accent-light: #00eab2;
$background-accent-light-dark-theme: #15765f;

$background-accent-overlay: #66cab393;
$background-accent-overlay-dark-theme: #fff1;

$background-accent-feature: #90ccbe44;
$background-accent-feature-dark-theme: #112338;

$background-primary: #eee;
$background-primary-dark-theme: #25252a;

$background-secondary: #fff;
$background-secondary-dark-theme: #141417;

$background-tertiary-overlay: #ffe4e4e6;
$background-tertiary-overlay-dark-theme: #1515209e;

$content-on-color: white;

$content-primary: #222;
$content-primary-dark-theme: #ccc;

$content-secondary: #666;
$content-secondary-dark-theme: #dcdcdc;

$border-primary: #333;

/* Typography */

$heading-letter-spacing: 5px;

@mixin heading-styles($sm-font-size: 22px, $md-font-size: 24px, $lg-font-size: 32px) {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;

  font-size: $sm-font-size;
  letter-spacing: $heading-letter-spacing;
  margin-right: -$heading-letter-spacing; /* offset noticeable trailing space from letter-spacing */

  @media (min-width: $breakpoint-xsmall) {
    font-size: $md-font-size;
  }

  @media (min-width: $breakpoint-small) {
    font-size: $lg-font-size;
  }

  @media (max-height: $breakpoint-small-height) {
    font-size: $sm-font-size;
  }
}

@mixin subheading-styles() {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;

  font-size: 14px;
  letter-spacing: 3px;
}

@mixin bordered-content-heading-styles() {
  font-family: "Crimson", serif;
  text-transform: lowercase;
  font-weight: lighter;
  text-align: center;

  font-size: 16px;
  letter-spacing: 3px;
}

/* Breakpoints */

$breakpoint-xsmall: 480px;
$breakpoint-small: 640px;
$breakpoint-medium: 800px;
$breakpoint-large: 1120px;

$breakpoint-xsmall-height: 400px;
$breakpoint-small-height: 540px;

/* Z-index */

$zindex-button-over-bg: 5;
$zindex-modal-background: 10;
$zindex-modal: 20;
$zindex-max: 9999;
