/* Color */

$background-accent-dark: #23538a;
$background-accent-light: #00eab2;
$background-accent-overlay: #66cab393;
$background-primary: #eee;
$background-secondary: #fff;
$background-tertiary-overlay: #ffe4e4e6;

$content-on-color: white;
$content-primary: #222;

$border-primary: #333;

/* Typography */

$heading-letter-spacing: 5px;

@mixin heading-styles() {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;

  font-size: 32px;
  letter-spacing: $heading-letter-spacing;
  margin-right: -$heading-letter-spacing; /* offset noticeable trailing space from letter-spacing */
}

@mixin subheading-styles() {
  font-family: "Futura", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;

  font-size: 14px;
  letter-spacing: 3px;
}

@mixin bordered-content-heading-styles() {
  font-family: "Crimson", serif;
  text-transform: lowercase;
  font-weight: lighter;
  text-align: center;

  font-size: 16px;
  letter-spacing: 3px;
}

/* Breakpoints */

$breakpoint-small: 640px;
$breakpoint-large: 1120px;

/* Z-index */

$zindex-modal-background: 10;
