@mixin scrollbar-style($thumb-color) {
  $track-color: transparent;
  $scrollbar-size: 8px;

  /* Chrome, Safari */
  &::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  /* Firefox */
  scrollbar-color: $thumb-color $track-color;
}
