@import "../../styles/tokens.module.scss";

.featureLink {
  color: $background-accent-dark;
}

.featureFlexColumn {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.featureFlexRow {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.featureFlex1 {
  flex: 1;
}

.featureFlex2 {
  flex: 2;
}

.featureFlex3 {
  flex: 3;
}

.featureImage {
  min-width: 300px;
}

.caption {
  display: inline;
  text-align: left;
}

.dropShadow {
  box-shadow: 5px 5px 15px #2223;
}
