@import "../../styles/tokens.module.scss";

.featureButton {
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
  color: black;
  background-color: $background-accent-feature;
  border-radius: 8px;
  padding: 2px 8px;
  opacity: 0.8;

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media (prefers-color-scheme: dark) {
    color: $content-on-color;
    background-color: $background-accent-feature-dark-theme;
  }
}

.featureLink {
  color: $background-accent-dark;

  @media (prefers-color-scheme: dark) {
    color: palegoldenrod;
  }
}

.featureFlexColumn {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.featureFlexRow {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

$min-cell-width: 300px;

.featureFlex1 {
  min-width: $min-cell-width;
  flex: 1;
}

.featureFlex2 {
  min-width: $min-cell-width;
  flex: 2;
}

.featureFlex3 {
  min-width: $min-cell-width;
  flex: 3;
}

.featureImage {
  min-width: 260px;

  @media (min-width: $breakpoint-small) {
    min-width: 360px;
  }
}

.caption {
  display: inline-block;
  text-align: left;
  margin: 8px 0;
}

.dropShadow {
  box-shadow: 5px 5px 15px #2223;
}

.fullWidthVideo {
  width: 100%;
  margin: 8px 0;
  border-radius: 4px;
}

/* stylelint-disable-next-line selector-class-pattern */
.video16_9 {
  aspect-ratio: 16/9;
}

.videoBorder {
  box-shadow: 0 0 0 1px #2c2c2c11;
}

.wrapReverse {
  flex-wrap: wrap-reverse;
}
