@import "../../styles/tokens.module.scss";

.container {
  color: $content-primary;

  @media (prefers-color-scheme: dark) {
    color: $content-primary-dark-theme;
  }
}

.heading {
  @include subheading-styles;

  margin-bottom: 16px;
}
