@import "../../styles/tokens.module.scss";

.borderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  position: relative;

  border: 1px solid $border-primary;
  margin: 32px;
  padding: 16px;

  @media (min-width: $breakpoint-small) {
    padding: 64px;
  }
}

.heading {
  @include bordered-content-heading-styles;

  position: absolute;
  top: -12px;
  left: 16px;
  margin: 0;
  padding: 0 32px;

  background-color: $background-primary;
  color: $content-primary;

  @media (prefers-color-scheme: dark) {
    background-color: $background-primary-dark-theme;
    color: $content-primary-dark-theme;
  }
}
