@import "../styles/tokens.module.scss";

.loading {
  position: fixed;
  z-index: $zindex-max;
  background-color: #111;
  width: 100%;
  height: 100vh; // fallback
  height: 100svh;
}

.fadeOut {
  animation: fadeOpacity 0.5s ease-in-out;
  opacity: 0;
}

@keyframes fadeOpacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
