.container {
  width: 100%;
  height: 100vh;
  background: #23548a;
  background: linear-gradient(to bottom, #00eab3 0%, #23538a 100%);
  overflow: auto;
}

.title {
  font-family: "Futura", sans-serif;
  font-size: 32px;

  color: white;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 5px;
}

.subtitle {
  font-family: "Futura", sans-serif;
  font-size: 16px;

  color: white;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 15px;

  margin-top: 10px;
}
