@import "./tokens.module.scss";

@font-face {
  font-family: "Crimson";
  src: url(/fonts/CrimsonText-Regular.ttf) format("truetype");
}

* {
  box-sizing: border-box;

  &:focus-visible {
    border: none;
    outline: dashed 1px #0008;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Crimson", serif;
  background-color: $background-primary;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

body {
  overflow: overlay;
  $scrollbar-thumb: #66cab393;
  $scrollbar-track: transparent;
  $scrollbar-size: 10px;

  /* Chrome, Safari */
  &::-webkit-scrollbar {
    width: $scrollbar-size;
    height: $scrollbar-size;
  }

  &::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb;
  }

  &::-webkit-scrollbar-track {
    background: $scrollbar-track;
  }

  /* Firefox */
  scrollbar-color: $scrollbar-thumb $scrollbar-track;
}

button {
  background: none;
  border: 0;

  &:hover {
    cursor: pointer;
  }
}
