@import "../../styles/tokens.module.scss";
@import "../../styles/utils.module.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: "Crimson", serif;
  line-height: 22px;
  text-align: center;

  transition: text-shadow 0.1s;

  &:hover {
    cursor: pointer;
  }
}

$chevron-size: 48px;

.chevronUp {
  font-size: $chevron-size;
  transform: translateY(12px);

  @media (max-height: $breakpoint-small-height) {
    font-size: $chevron-size * 2 / 3;
  }
}

.chevronDown {
  font-size: $chevron-size;
  transform: translateY(-12px) rotate(180deg);

  @media (max-height: $breakpoint-small-height) {
    font-size: $chevron-size * 2 / 3;
  }
}

.label {
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 12px;

  margin: 16px 0;

  @media (min-width: $breakpoint-small) {
    font-size: 16px;
  }

  @media (max-height: $breakpoint-small-height) {
    font-size: 12px;
  }
}

.light {
  max-width: 100px;
  margin: 40px auto;
  color: white;

  &:hover,
  &:focus-visible {
    outline: none;
    text-shadow: rgb(255 255 255 / 90%) 0 0 10px;
  }

  &:focus-visible {
    @include focus-style;
  }

  @media (max-height: $breakpoint-xsmall-height) {
    margin: 10px auto;
  }
}

.dark {
  color: $content-primary;
  min-width: 40px;

  @media (prefers-color-scheme: dark) {
    color: $content-primary-dark-theme;
  }

  &:hover,
  &:focus-visible {
    color: $background-accent-light;

    @media (prefers-color-scheme: dark) {
      color: $background-accent-light-dark-theme;
    }
  }
}

.block {
  max-width: 100%;
  width: 100%;
  height: 48px;
  margin: 0;
  color: white;
  background-color: $background-accent-dark;
  transition: background-color 0.2s ease-in-out;

  @media (prefers-color-scheme: dark) {
    background-color: $background-accent-dark-dark-theme;
  }

  &:hover,
  &:focus-visible {
    background-color: $background-accent-overlay;
  }
}
